{%extends 'base.template.html'%}

{%block content %}
 <!-- uploadcare -->
{{form.media}} 
{%for key, cart_item in cart.items %}

<div>

<div class="card text-center">
  <div class="card-header">
    {{cart_item.name}}
  </div>
  <div class="card-body">
  <img src="{{cart_item.image}}" alt="Trip Image" />
    <h5 class="card-title">Location: {{cart_item.location}}</h5>
    <p class="card-text">Date: {{cart_item.date}}</p>
    <p class="card-text">Cost: ${{cart_item.price}}</p>
    <p class="card-text">Quantity: {{cart_item.qty}}</p>
    <a class="btn btn-danger btn-sm" href="{% url 'delete_cart_route' trip_id=cart_item.id %}">Delete Item</a>
    <a class="btn btn-danger btn-sm" href="{% url 'delete_qty_route' trip_id=cart_item.id %}">-</a>
    <a class="btn btn-danger btn-sm" href="{% url 'add_qty_route' trip_id=cart_item.id %}">+</a>
  </div>
    <p>
        <form method="POST" action="{% url 'update_qty_route' trip_id=cart_item.id %}">
        {%csrf_token%}
        Quantity:<input name="qty" type="text" value="{{cart_item.qty}}" style="width:20px">
        <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
        </form>
    </p>
</div>

{%endfor%}

    <div id='cart-summary'>

        <h2> Total Cost: ${{updated_total_cost}} </h2>
        <button type="button" class="btn btn-primary btn-rounded checkout-btn" ><a href="{% url 'checkout' %}">Checkout</a></button>

    </div>
</div>
{%endblock%}