{%extends 'base.template.html'%}

{%block content %}
 <!-- uploadcare -->
{{form.media}} 
{%for key, cart_item in cart.items %}
<div class="card">
    <div class="card-title">{{cart_item.location}}</div>
     <div class="card-body">
        Quantity: {{cart_item.qty}}
        Date: {{cart_item.date}}
        Price: {{cart_item.price}}
        Image: <img src="{{cart_item.image}}" alt="Image not found" />
     </div>

    <a class="btn btn-danger btn-sm" href="{% url 'delete_cart_route' trip_id=cart_item.id %}">Delete Item</a>
    <a class="btn btn-danger btn-sm" href="{% url 'delete_qty_route' trip_id=cart_item.id %}">-</a>
    <a class="btn btn-danger btn-sm" href="{% url 'add_qty_route' trip_id=cart_item.id %}">+</a>
</div>

<p>
        <form method="POST" action="{% url 'update_qty_route' trip_id=cart_item.id %}">
        {%csrf_token%}
        Quantity:<input name="qty" type="text" value="{{cart_item.qty}}" style="width:20px">
        <input type="submit" class="btn btn-primary btn-sm" value="Update Quantity"/>
        </form>
    </p>
{%endfor%}
{%endblock%}