{% extends 'base.template.html' %}
{%load static %}
{%block content%}
<!-- uploadcare -->
{{form.media}}  

<!-- all trips carousel -->
<div class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
    {%for t in trips %}
      <div class="carousel-item col-md-4 {% if forloop.first %} active{% endif %}">
       
        <div class="card">
          <img class="card-img-top img-fluid" src="{{t.image}}" alt="Trip Image">
          <div class="card-body alltrip-card-body">
            <h4 class="card-title">{{t.name}}</h4>
            <p class="card-text">{{t.desc}}</p>
            <p class="card-date font-italic font-weight-bold">Trip Date: {{t.date}}</p>
            <p class="card-text font-italic font-weight-bold">Accomodation: {{t.accommodation}}</p>
            <p class="card-text font-weight-bold" >${{t.price}}</p>
          </div>
           <a href="{% url 'update_trip_route' trip_id=t.id %}">Edit</a>
            <a href="{% url 'delete_trip_route' trip_id=t.id %}">Delete</a>
        </div>
        <div>
     
</div>
      </div>
      {%endfor%}
      
    </div>

    <!-- Vendor Create -->
    <div>
    <h3>Create a new Trip</h3>
        <form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="Submit"/>
    </form>
    </div>
    <a class="carousel-control-prev prev-vendor" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next next-vendor" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


{%endblock%}

